.title {
    text-align: center;
    Font-family: DK Kusukusu;
    font-size: 46px;
    float: center;
    color: back;
}

.liam-tietjens {
    border: 4px solid;
    border-color: black;
    display: table;
    border-spacing: 10px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 59%;
    letter-spacing: 7px;
}

body {
    background-color: white;
    
}

#frontpage-background {
    align-content: center;
    overflow: scroll;
    /*padding-left: 550px;
    padding-right: 100px;*/
    display: block;
    width: 40%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

